.aside-panel
	background-color $color-gray-ltr
	border-radius $border-radius

	.section
		border-bottom 1px solid $color-gray-md
		padding 22px 20px

		*:last-child
			margin-bottom 0

		&:last-child
			border-bottom none

	.title
		font-size $font-size-small
		text-transform uppercase
		color $color-gray-dk
		margin-bottom $default-spacing-unit / 2
