.dropdown
	display inline-block

	.title
		border-radius $border-radius
		border 1px solid $color-gray-md
		display inline-block
		padding 0 40px 0 20px
		border 1px solid $color-gray - 20
		cursor pointer
		transition .2s
		box-sizing border-box
		height 41px
		line-height 40px
		position relative

		dropdown-arrow()

		&:hover,
		&.active
			border 1px solid $color-gray - 30
			background rgba(0, 0, 0, .05)
