$color-gray = #D6E1E5
$color-gray-ltr = #F3F8F9
$color-gray-lt = #DEE7EA
$color-gray-md = #E0EBEF
$color-gray-dk = #93A4AA

$color-blue = #17B9F0
$color-blue-lt = #3BC7F3
$color-blue-dk = #119CCB

$color-red = #F74A4C
$color-red-lt = #F86D6E
$color-red-dk = #CB1216

$color-yellow = #FAD46B
$color-yellow-lt = #FBDD8E
$color-yellow-dk = #F2BD6B

$color-green = #42B4AB
$color-green-lt = #7BC6C0
$color-green-dk = #28948C

$color-purple = #A88CD3
$color-purple-lt = #A88CD3 + 20
$color-purple-dk = #9175BB

$color-orange = #F28529
$color-orange-lt = #F28529 + 20
$color-orange-dk = #E8661F

$color-dark = #364347
$color-dark-lt = #364347 + 30
$color-dark-dk = #364347 - 30

$font-size = 16px
$font-size-small = 14px
$line-height = 1.5em
$font-family = 'Roboto', sans-serif

$grid-columns = 24
$grid-gutter = 2.5
$default-spacing-unit = 30px

$border-radius = 4px

$side-page-padding-desktop = 3%
$side-page-padding-handheld = 5%

$page-width-desktop = 94%
$page-width-handheld = 90%

$below-handheld = 500px
$below-desktop = 1800px

$max-width = 1200px
$max-width-jumbo = 1400px

$min-width-desktop = 960px
$min-width-handheld = 320px
