template(name="asidePanel")
	.aside-panel
		.section
			h3.title Aside title
			
			p Select you items and press Search
			
		form.form
			.section
				label.title Your realm
				.select.small
					select
						option North America
						option South America
						option Europe
						option Asia
						option Oceania
						option South Africa
						
			.section
				input#radio-3(type="radio", name="radio-2", value="1", checked)
				label(for="radio-3") Male
				
				input#radio-4(type="radio", name="radio-2", value="2")
				label(for="radio-4") Female
						
			.section
				input#checkbox-2(type="checkbox")
				label(for="checkbox-2") With photos only
			
			.section
				label.title Search string
				input.small(type="text", placeholder="E.g. BMW")
						
			.section
				button.btn.blue.wide(type="submit") Search
