template(name="offerPage")
	.offer-heading
		.left
			h1 
				|{{offer.address}}

				if offer.favorite
					a.star.active(href="#"): i.fa.fa-star
				else
					a.star(href="#"): i.fa.fa-star-o

	.grid
		.col-16
			.gallery-content
				+gallery

		.col-8
			.price {{{convertPrice offer.price}}}
			p {{offer.title}}
			
			.params
				table
					each offerParamsConverter offer.params
						tr
							th {{key}}
							td {{val}}

			p {{offer.desc}}
