template(name="offerPage")
	// +loginButtons

	.offer-heading
		.left
			h1 {{offer.address}}

		.right
			.icons
				if offer.favorite
					a.star.active(href="#"): i.fa.fa-star
				else
					a.star(href="#"): i.fa.fa-star-o
	
	.offer-content
		.content-left
			.gallery-content
				+gallery

		.content-right
			.price {{{convertPrice offer.price}}}
			p {{offer.title}}
			
			.params
				table
					each offerParamsConverter offer.params
						tr
							th {{key}}
							td {{val}}

			p {{offer.desc}}
