template(name="offersBricks")
	.bricks
		each this
			+offersBrick
			
template(name="offersBrick")
	.brick
		a.image(href="{{pathFor 'offer'}}")
			img.image(src="{{picture}}", alt="{{title}}")

		.loading

		.caption
			h4.title {{address}}
			p.price {{{convertPrice price}}}

			.icons
				if favorite
					a.btn.btn-primary.star(href="#")
						i.fa.fa-star
						|&nbsp;Like
				else
					a.btn.btn-default.star.btn-stroke(href="#")
						i.fa.fa-star-o
						|&nbsp;like
