.app
	cf()
	
	width 1100px
	margin 0 auto
	padding 0 30px
	
	+below(1000px)
		width 960px
	
	+below(600px)
		width auto
	
	.main
		col(4/5)
		
		+below(600px)
			col(1/1)
		
	.aside
		col(1/5)
		
		+below(600px)
			col(1/1)