body
	font-family 'Roboto', sans-serif
	font-size $font-size
	line-height 1.6
	background $body-bg
	color $body-color
	height 100%
	min-width $min-width

a
	color $color-blue
	text-decoration none
	
	&:hover
		color $color-orange
		
h4
	font-size 18px