body
	font-family 'Roboto', sans-serif
	font-size $font-size
	line-height 1.6
	background $body-bg
	color $body-color
	height 100%
	min-width $min-width

a
	color $color-blue
	text-decoration none
	
	&:hover
		color $color-orange
		
h4
	font-size 18px

.limiter	
	width 1100px
	margin 0 auto
	padding 0 30px
	
	+below(1000px)
		width 960px
	
	+below(600px)
		width auto