.header
	background $color-yellow
	height 67px
	margin-bottom 30px
	position relative
	line-height 65px
	
	.inner
		
	
	.logo
		position relative
		height 65px
		color $body-color
		font-size 24px
		font-weight 400