.header
	background $color-yellow
	height 65px
	padding 0 30px
	margin-bottom 30px
	position relative
	line-height 65px
	
	.logo
		position relative
		height 65px
		padding 0 20px 0 45px
		color #fff
		font-size 24px
		font-weight 100
		
		&:after
			height 24px
			width 24px
			display block
			position absolute
			left 6px
			top 50%
			box-sizing border-box
			margin -12px 0 0 0
			border 2px solid #fff
			content ''
			border-radius 130px
		
		&:before
			height 36px
			width 36px
			display block
			position absolute
			left 0
			top 50%
			box-sizing border-box
			margin -18px 0 0 0
			border 2px solid #fff
			content ''
			border-radius 130px