.header
	background-color $color-gray-md
	padding 10px 0
	height 41px
	line-height 41px
	margin-bottom 40px
	vertical-align center

	a
		color $color-gray-dk

		&:hover
			color $color-gray-dk - 35

	.logo
		width 95px
		height 41px
		display block
		background url("../images/logo-red-2.svg") 0px 0px no-repeat
		background-size 100%

	.user
		.item
			display inline-block
			margin-right 20px

	.side
		text-align right

		.item
			display inline-block
			margin-left 20px
